
body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}



#hero {
    width: 100%;
    height: 100vh;
    background: url("img/hero-bg.jpg") top center;
    background-size: cover;
}

a:has(.bi) {
    color: currentColor;
    
}


.bi {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    /*vertical-align: -.125em;*/
    fill: currentColor;
}