@page "/counter"

@inject ILogger<Counter> Logger
@inject ILoggerFactory LoggerFactory

@rendermode InteractiveAuto


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        var logger = LoggerFactory.CreateLogger("Counter");
        logger.LogWarning("LoggerFactory: Someone has clicked me!");
        Logger.LogWarning("Someone has clicked me!");
    }


}
