<!DOCTYPE html>
<html lang="en" class="neutral">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Goke.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="style.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="assests/typed.umd.js"></script>
    <script src="script.js"></script>
    <script src="js/base.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
