@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="drawer-navigation" style="--_clr-icon-bg: var(--clr-body)">
    <ul class="drawer-nav-list flex">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-item-wrapper">
                    <span class="icon">🏡</span><span class="nav-item-text">
                        Home
                    </span>
                </span>
            </NavLink>
        </li>
        <li class="dropdown">
            <a href="">
                <span class="nav-item-wrapper">
                    <span class="icon">
                        <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                            <use xlink:href="sprites.svg#icons-solid"></use>
                        </svg>
                    </span><span class="nav-item-text">
                        Components <span>&#x2b9e;</span>
                    </span>
                </span>
            </a>
            <ul class="dropdown-list pop-right">
                <li>
                    <NavLink class="nav-link" href="components/forms">
                        Forms
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="components/layout">
                        Layouts
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="components/Data">
                        Data
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="components/Screens">
                        Screens
                    </NavLink>
                </li>
            </ul>
        </li>
        <li>
            <NavLink class="nav-link" href="Auth">
                <span class="nav-item-wrapper">
                    <span class="icon">
                        <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                            <use xlink:href="sprites.svg#lock-solid"></use>
                        </svg>
                    </span><span class="nav-item-text">
                        Auth
                    </span>
                </span>
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                <li>
                    <NavLink class="nav-link" href="officer">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#lock-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Officer
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="manager">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#lock-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Manager
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="admin">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#lock-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Admin
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="sysadmin">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#lock-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                System Admin
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="blogging">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#blog-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Blogging
                            </span>
                        </span>
                    </NavLink>
                </li>

                <li>
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="nav-item-wrapper">
                            <span class="icon">X</span><span class="nav-item-text">
                                @context.User.Identity?.Name
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <span class="nav-item-wrapper">
                        <span class="icon">X</span><span class="nav-item-text">
                            <form action="Account/Logout" method="post" style="display:inline">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    Logout
                                </button>
                            </form>
                        </span>
                    </span>
                </li>
            </Authorized>
            <NotAuthorized>
                <li>
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#id-card-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Register
                            </span>
                        </span>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="nav-item-wrapper">
                            <span class="icon">
                                <svg class="icon" aria-hidden="true" style="--icon-sz:0.5em">
                                    <use xlink:href="sprites.svg#user-solid"></use>
                                </svg>
                            </span><span class="nav-item-text">
                                Login
                            </span>
                        </span>
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</nav>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

