@inherits LayoutComponentBase


<section class="primary-layout flex">
    <Drawer />

    <section class="page">
        <MainNavMenu />

        <main>
            <div class="wrapper flow">
                @Body
            </div>
        </main>

        <footer>
            <div class="footer-wrapper">
               
            </div>
        </footer>

    </section>
</section>

<SideBar />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
